<table>
    <thead>
        <tr>
            <th>Location</th>
            <th>Suspect Name</th>
            <th>Time Reported</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let r of reports">
            <td>{{ r.locationName }}</td>
            <td>{{ r.suspectName }}</td>
            <td>{{ r.timeReported }}</td>
            <td>{{ r.resolved }}</td>
            <td><button (click)="onReportDelete(r)">Delete</button></td>
        </tr>
    </tbody>
</table>
