.body{
    margin-left: 1%;
    display: flex;
}

#cardContainer{
    width: 30%;  
    overflow-y: scroll;
    height: 89.6vh;
    flex-shrink: 1;
}

#mapContainer{
    flex: 1 1 0;
}
#bar{
    height: 100vw;
    background-color: black;
    width: 2px;
}