body {
    overflow: hidden;
    margin: 0;
}

#mapContainer,
#reportList {
    margin: 18px 20px 16px 20px;
    box-sizing: border-box;
}

#mapContainer {
    height: calc(55vh - 52px); /* Adjust as needed */
}

#reportList {
    height: calc(40vh - 52px); /* Adjust as needed */
}

.scrollable-table {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

