body{
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding-bottom: 0; /*Trying to fix the big white space at the bottom of the page*/
}

#reportList, #mapContainer {
    flex: 1 1 0;
    width: calc(100%-16px);
    margin: 0 16px 24px;
}

#reportList {
    margin-bottom: 0;
    padding-bottom: 0;
}

