header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem;
}

.reportCard {
    background-color: #f9f9f9;
    border-radius: 1rem;
    box-shadow: 0 0.4rem 0.8rem rgba(0.2, 0.2, 0.2, 0.2); 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    min-width: 20%;
    float: right;
    margin-right: 2rem;
    flex-shrink: 0;
}

.reportCardTitle {
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 2.5rem;
}

.reportCardContent {
    font-size: 1.2rem;
    color: #333333;
    padding: 1.5rem;
}

.reportCardBlueButton{ 
    fill: #007bff;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    stroke-width: .5;
    stroke: black;
}

.reportCardBlueButton:hover{
    fill: #0056b3;
}

.reportCardRedButton{ 
    fill: #ff0000;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    stroke-width: 8;
    stroke: black;
}

.reportCardRedButton:hover{ 
    fill: #b30000;
}
.reportCardPurpleButton { 
    background-color: #800080;
    color: #ffffff;
    padding: .8rem 1rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    flex-shrink: shrink;
    margin-top: 1rem;
}

.reportCardPurpleButton:hover {
    background-color: #500050;
    color: #e0e0e0;
}